<a href="https://colab.research.google.com/github/mbridgets/TheMUGSSProject3/blob/master/loading_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-2.4.6'
spark_version = 'spark-2.4.7'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:4 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:12 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [40.7 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Ign:15 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:15 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [506 kB]
Get:16 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,699 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,372 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,244 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,816 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [15.3 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [237 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [870 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [53.8 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,136 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [266 kB]
Get:26 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [46.5 kB]
Fetched 11.6 MB in 3s (3,909 kB/s)
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-12-17 03:22:17--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  5.02MB/s    in 0.2s

2020-12-17 03:22:17 (5.02 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url="https://mugssproject3avodatageo.s3-us-west-1.amazonaws.com/avo_data_withlr.csv"
spark.sparkContext.addFile(url)
avo_geo_data_df = spark.read.csv(SparkFiles.get("avo_data_withlr.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
avo_geo_data_df.show()

+-------------------+-------------+------------+---------+---------+---------+----------+----------+----------+-----------+------------+----+------+-----+---------+----------+--------+---------+----------------+
|               date|average_price|total_volume|type_4046|type_4225|type_4770|total_bags|small_bags|large_bags|xlarge_bags|        type|year|  city|state|   region|city_state|latitude|longitude|LinearRegression|
+-------------------+-------------+------------+---------+---------+---------+----------+----------+----------+-----------+------------+----+------+-----+---------+----------+--------+---------+----------------+
|2015-12-27 00:00:00|         1.33|    64236.62|  1036.74| 54454.85|    48.16|   8696.87|   8603.62|     93.25|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-12-20 00:00:00|         1.35|    54876.98|   674.28| 44638.81|    58.33|   9505.56|   9408.07|     97.49|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-12-13 00:00:00|         0.93|   118220.22|    794.7|109149.67|    130.5|   8145.35|   8042.21|    103.14|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-12-06 00:00:00|         1.08|    78992.15|   1132.0| 71976.41|    72.58|   5811.16|    5677.4|    133.76|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-11-29 00:00:00|         1.28|     51039.6|   941.48| 43838.39|    75.78|   6183.95|   5986.26|    197.69|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-11-22 00:00:00|         1.26|    55979.78|  1184.27| 48067.99|    43.61|   6683.91|   6556.47|    127.44|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-11-15 00:00:00|         0.99|    83453.76|  1368.92| 73672.72|    93.26|   8318.86|   8196.81|    122.05|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-11-08 00:00:00|         0.98|   109428.33|   703.75|101815.36|     80.0|   6829.22|   6266.85|    562.37|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-11-01 00:00:00|         1.02|    99811.42|  1022.15| 87315.57|    85.34|  11388.36|  11104.53|    283.83|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-10-25 00:00:00|         1.07|    74338.76|    842.4| 64757.44|    113.0|   8625.92|   8061.47|    564.45|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-10-18 00:00:00|         1.12|    84843.44|   924.86| 75595.85|   117.07|   8205.66|   7877.86|     327.8|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-10-11 00:00:00|         1.28|    64489.17|  1582.03| 52677.92|   105.32|   10123.9|   9866.27|    257.63|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-10-04 00:00:00|         1.31|     61007.1|  2268.32| 49880.67|   101.36|   8756.75|   8379.98|    376.77|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-09-27 00:00:00|         0.99|   106803.39|  1204.88| 99409.21|   154.84|   6034.46|   5888.87|    145.59|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-09-20 00:00:00|         1.33|    69759.01|  1028.03| 59313.12|    150.5|   9267.36|    8489.1|    778.26|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-09-13 00:00:00|         1.28|    76111.27|   985.73| 65696.86|    142.0|   9286.68|   8665.19|    621.49|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-09-06 00:00:00|         1.11|    99172.96|   879.45| 90062.62|   240.79|    7990.1|   7762.87|    227.23|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-08-30 00:00:00|         1.07|   105693.84|   689.01| 94362.67|   335.43|  10306.73|  10218.93|      87.8|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-08-23 00:00:00|         1.34|    79992.09|   733.16| 67933.79|   444.78|  10880.36|  10745.79|    134.57|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
|2015-08-16 00:00:00|         1.33|    80043.78|   539.65| 68666.01|    394.9|  10443.22|  10297.68|    145.54|        0.0|conventional|2015|Albany|   NY|Northeast|Albany, NY| 42.6664| -73.7987|            null|
+-------------------+-------------+------------+---------+---------+---------+----------+----------+----------+-----------+------------+----+------+-----+---------+----------+--------+---------+----------------+
only showing top 20 rows

In [5]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://mugssproject3-awsdb.cd7njcklugjr.us-west-1.rds.amazonaws.com:5432/MUGSSProject3DB"
config = {"user":"MUGSSProject3DB", 
          "password": "data1234", 
          "driver":"org.postgresql.Driver"}

In [7]:
# Write DataFrame to active_user table in RDS

avo_geo_data_df.write.jdbc(url=jdbc_url, table='avocado_sales', mode=mode, properties=config)